body {
  background-color: #FFF8E7;
}

.tarih {
  text-align: center;
  border: 2px solid none;
  background-color: #64B5F6;
  font-size: 25px;
  color: white;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}

.card-container-left {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
}

.card-container-right {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

.sehirsec {
  display: flex;
  justify-content: center;
}

.navbar .nav-link:hover {
  color: #333 !important;
  text-decoration: none;
}

.today-meal {
  box-shadow: 0px 0px 49px #d34e0b;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}

@media (max-width: 577px) {
  .card-container-left {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 1px;
  }

  .card-container-right {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}