<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veri İndirme</title>
</head>
<body>
    <h2>Ürün Listesi</h2>
    <a href="@Url.Action("ExportToExcel", "User", new { selectedCity = ViewBag.SelectedCity })" class="btn btn-primary">
        Excel Olarak İndir
    </a>

    h2>Ürün Listesi</h2>
    <a href="@Url.Action("ExportToPdf", "User", new { selectedCity = ViewBag.SelectedCity })" class="btn btn-danger">
        PDf Olarak İndir
    </a>
</body>
</html>
