@using System.Globalization
@model List<Yemek>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
KYK YEMEK LİSTESİ BASLANGIÇ
@foreach (var item in Model)
{
    CultureInfo culture = new CultureInfo("tr,Tr");
    @item.Day.ToString("dd.MM.yyyy", culture)
}

<body>

</body>

</html>
