<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description"
        content="KYK yemek listesi ile ilgili sıkça sorulan sorulara cevap veriyoruz.Ayrıca site hakkında sorularınızı dark cevaplandırıyoruz..">
    <meta name="keywords"
        content="KYK Yemek listesi nasıl bakılır, KYK yemek listesine nereden bakılır. KYK Yemek hakkında sıkça sorulan sorular">
    <title>Sıkça Sorulan Sorular - SSS</title>
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>SSS</title>
</head>

<body>



    <div class="container">
        <h1>sıkça Sorulan Sorular</h1>

        <div class="accordion" id="accordions">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="soru1">Sitenize neden üye
                        olmalıyım?</button>
                </h2>

                <div id="soru1" class="accordion-collapse collapse shadow" data-bs-parent="#accordions">

                    <div class="accordion-body">
                        KYK yemek menü listesini PDF ve Excel formatında bir tablo halinde cihazınıza indirmenizi
                        sağlar. Bu sayede internete gerek kalmadan yemek listenizi tablo üzerinden kolayca
                        görüntüleyebilirsiniz.
                    </div>
                </div>

            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#soru2">KYK yemek menü
                        listesini nereden buluyorsunuz ?</button>
                </h2>

                <div id="soru2" class="acordion-collapse collapse" data-bs-parent="#accordions">
                    <div class="accordion-body">Farklı üniversitelerdeki öğrencilerle iletişime geçerek KYK yemek menü
                        listesini temin ediyoruz."</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#soru3">Sitenizde birkaç
                        il hariç diğer iller yok. Sebebi nedir ?</button>
                </h2>

                <div id="soru3" class="acordion-collapse collapse" data-bs-parent="#accordions">
                    <div class="accordion-body">Sitemizde şu an birkaç il hariç diğer iller bulunmuyor çünkü KYK yemek
                        menü listelerini temin etmek için farklı üniversitelerdeki öğrencilerle iletişim kuruyoruz.
                        Henüz tüm illerden bilgi alamasak da, listeyi sürekli güncelleyerek eksik illeri eklemek için
                        çalışıyoruz.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#soru4">Sizinle nasıl
                        iletişime geçebilirim ?</button>
                </h2>

                <div id="soru4" class="acordion-collapse collapse" data-bs-parent="#accordions">
                    <div class="accordion-body">İletişim adreslerimizi yakında paylaşacağız. Bizi takipte kalın!</div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>
