
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (TempData["SuccesDeleteMessage"]!=null)
    {
        <div class="alert  alert-info">
            @TempData["SuccesDeleteMessage"]
        </div>
    }


    
    
</body>
</html>
