@model Yemek
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/styles.css" rel="stylesheet" />
    <title>YemekListesiEkle</title>
</head>

<body>

    <form method="post" asp-action="YemekListesiEkle"asp-controller="Admin">
        <select class="form-select-sm px-3">
        @foreach (var item in ViewBag.Sehir as List<SelectListItem>)
        {
            if (item.Selected)
            {
                <option value="@item.Value" selected>@item.Text</option>

            }
            else
            {
                <option value="@item.Value">@item.Text</option>

            }
        }
        </select>

        <div class="my-2 p-2">
            <textarea class="form-control" asp-for=SabahYemekListesi placeholder="Sabah"></textarea>
        </div>

        <div class="my-2 p-2">
            <textarea class="form-control" asp-for=AksamYemekListesi placeholder="Akşam"></textarea>
        </div>

        <label>Kalori Miktarı</label>
        
            <input type="number" asp-for="Calorie" value="" /> 
       
    </form>
</body>

</html>
