<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-adsense-account" content="ca-pub-5290089711270021">
    <title>@ViewData["Title"]KYK Yemek Menüsü - kykyemeklistesi.com.tr</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light text-light border-bottom box-shadow mb-1 m-0 p-0"
            style="background-color: #64B5F6;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img class="rounded-circle" fetchpriority="low" src="~/images/Backgroundss.webp" alt="logo"
                        style="width: 85px; margin: 0.1px;">


                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButton">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between" id="navbarButton">
                    <ul class="navbar-nav flex-grow-1 ms-auto">
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light fw-semibold" asp-controller="Home" asp-action="Index">Ana
                                Sayfa</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light fw-semibold" asp-controller="Home"
                                asp-action="Bugunyemeklistesi">Bugünün Yemek Listesi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-flex">
        <div class="container-fluid position-sticky bottom-0" style="background-color: #64B5F6;">
            &copy; 2024 - Kykyemeklistesi -
            <a class="text-muted" asp-controller="Home" asp-action="Index" style="text-decoration: none;">
                Ana Sayfa
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" defer></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
